body {
    font-family: 'Poppins', sans-serif;
}

.my-name {
    color: rgb(180, 51, 111);
}

h1 {
    font-size: 40px;
}

section {
    margin-left: 0;
}

.one {
    width: 50%;
    padding: 40px;
    margin-left: 2%
}

.one img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin: 0px 0px 0px 60px;


}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin-left: 0;
}

#one {
    display: flex;
    width: 100%;
    margin-top: 150px;

}

.link-button2 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin: 0px 0px 0px 60px;
    position: right;
}